@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

html {
    height: 100%;
}

body {
    /* background-color: rgba(138, 120, 113, 1); */
    background: #786862;
    background: url("./bg3.jpg") center center / cover;
    /* background: url("./bgbg.jpg") center center / cover; */
    /* color: #343434; */
    color: black;
}

h1 {
    font-size: 1.4rem;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    color: rgba(0, 0, 0, .85);
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    background: url('./bg-nav.jpg') top center;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4);
    /* background: #BCA37F; */
    /* background: radial-gradient(circle, rgba(188, 163, 127, 1) 0%, rgba(234, 215, 187, 1) 100%); */
    z-index: 1111;
}

.navbar::after {
    content: " ";
    display: block;
    position: absolute;
    top: 68px;
    width: 100%;
    height: 2px;
    background: transparent;
    background: radial-gradient(circle, rgba(255, 193, 7, 1) 0%, rgba(0, 0, 0, .3) 60%);
}

.navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.navbar .open-menu {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    left: .8em;
    background-color: rgba(255, 193, 7, .65);
    border-radius: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, .3);
    box-sizing: content-box;
    animation: openmenu .4s;
    transition: all .4s ease-in-out;
}

.open-menu.open {
    background-color: rgba(255, 193, 7, .45);
    box-shadow: none;
}

.open-menu a {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    /* padding: 12px 15px; */
    color: rgba(0, 0, 0, .8);
}

.open-menu a span {
    padding: 10px;
}

.logo {
    /* font-family: "Playwrite AU QLD", cursive; */
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    font-weight: bold;
    color: rgba(255, 193, 7, .85);
    text-shadow: 2px 2px rgba(0, 0, 0, .85);
    background-color: rgba(0, 0, 0, .3);
    padding: .2em 1em;
    border-radius: .3em;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .5);
}

main {
    width: 100%;
    padding-left: 220px;
    margin-top: 70px;
    transition: all .4s ease-in-out;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* min-height: 1800px; */
    padding: 1em;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 220px;
    height: 100%;
    background: url("./sidebar2.jpg") no-repeat top center / cover;
    /* border-top: 2px solid rgba(0, 0, 0, .1); */
    /* border-right: 2px solid rgba(0, 0, 0, .1); */
    /* border-top-right-radius: 5px; */
    box-shadow: 0 4px 12px 2px rgba(0, 0, 0, .4);
    overflow-y: scroll;
    /* background: #BCA37F;
    background: radial-gradient(circle, rgba(188, 163, 127, 1) 0%, rgba(234, 215, 187, 1) 100%); */
    z-index: 1100;
    transition: all .4s ease-in-out;
}

.content {
    width: 100%;
    max-width: 1200px;
}

@keyframes sidebar {
    0% {
        transform: translateX(-250px);
    }

    50% {
        transform: translateX(-100px);
    }

    90% {
        transform: translateX(-20px);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes openmenu {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        left: -250px;
    }

    main {
        padding-left: 0;
    }

    .navbar .open-menu {
        display: block;
    }

    main .container {
        padding: 0;
        font-size: 18px;
        line-height: 1.6;
    }

    .container .content {
        padding: 0 .5em;
    }
}